.right_select_account{
    padding:40px 40px 30px 10px;
   
     border-radius: 5px;
     margin-right: 100px;
}
.div_with_polygon{
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding-left: px;
    height: 30px;
   
    
}
.triangle-up{
    width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #888888;
    margin-bottom: 10px;

   
}
.triangle-down{
    width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #888888; 
}
.select_preferd_bank{
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.08);
    margin: 5px 10px 10px 10px;
    border-radius: 5px;
    margin-bottom: 90px;
}
.select_preferd_bank img{
    width: 45px;
    height: 45px;
}
.circle1 {
     height: 25px;
    width: 25px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.08);
  margin-top: 5px;
  margin-left: 65px;
    
  }

