.right_veri_bussiness_de{
    padding:30px 30px 0px 30px;
   height: 550px;
   box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.08);
     width: 600px;
     margin-right: 40px; 
 
}
.E_personal_details{
    
  
    display: flex;
}
.E_personal_details1, E_personal_details2{
    flex:1;
}

