.conatiner{
  overflow: hidden;
  }
  
  .left{
   background: #008088;
  width: 45%;
  float: left;
  position: relative;
  
  }
  .heading_left{
    height: 140px;
  }
  .fintech_text{
  color: #FFFFFF;
  margin-left: 20.93px;
  top: 10px;
  
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  position: relative;
  }
  .body_left{
  
  }
  .left_text{
    width: 363px;
    height: 84px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    margin-left: 100px;
    margin-right: 138px;
    margin-top:40px;
    margin-bottom:50px;
    text-align:center;
  
  color: #FFFFFF
  }
 
  .left_image{
    align-items: center;
    justify-content: center;
    box-shadow: 40px 40px 5px rgb(0 0 0 / 0%);
    width: 380px;
    border-radius: 10px;
    margin-left: 90px;
    margin-top: 60px; 
  
  }
  .card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(255 255 255 / 56%);
    background-clip: border-box;
    border: 1px solid rgb(0 0 0 / 13%);
    border-radius: 0.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    height: 200px;
  }
  .card-body{
  flex: 1 1 auto; 
  padding: 1rem 1rem;
  padding: 30px;
  }
  .card-body img{
  width: 100%;
  margin-top: -80px;
  border-radius: 9px;
  }
  .imgshadow{
    opacity:0.3;
  }
  .left_dots{
    display: flex;
    padding-bottom: 40px;
    }
    
    .leftcircleImg img{
    width: 9.49px;
    height: 9.49px;
    margin-left: 225px;
    
    
    }
    .leftrectImg img{
    width: 28.48px;
    height: 9.49px;
    border-radius: 10px;
    margin-left: 5px;
    
    }
    .leftcircleImg1 img{
      width: 9.49px;
      height: 9.49px;
      margin-left: 5px;
     
      }
      .leftcircleImg2 img{
        width: 9.49px;
        height: 9.49px;
        margin-left: 5px;
        
        
        }
  .right{
  
      width: 55%;
      float: right;
      margin: auto;
    
  }
  .right_body{
    background: #E5F8E8;
    padding: 20px;
    margin: 30px 30px 30px 30px;
    
  }
  .right_heading{

    margin-top: 20px;
    font-weight: 0px;
    font-weight: bold;
  }
  